@mixin paddingWithMargin($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

a {
    @include paddingWithMargin(2px, 2px);
    // margin: 2px;
    // padding: 2px;
    text-decoration: underline;
}

a:hover {
    color: #AFDA39;
    cursor: pointer;
}

a:visited {
    color: #CABA39;
}