@use 'reset.scss';
@use 'headers.scss';
@use 'forms.scss';

$theme1-text-color: #BCB382;
$theme1-accent-color: #09814A;
$theme1-background-color: #121619;
$theme1-highlight-color: #AFDA39;
$theme1-visited-color: #CABA39;
$theme2-text-color: #B88B4A;
$theme2-accent-color: #A27035;
$theme2-background-color: #242331;
$theme2-highlight-color: #DDCA7D;
$theme2-visited-color: #abc;
$theme3-text-color: #fff;
$theme3-accent-color: #FCA311;
$theme3-background-color: #000;
$theme3-highlight-color: #c5c5c5;
$theme3-visited-color: #caca;

@mixin borderMaker($color, $size){
    border: $size solid $color;
}

@mixin paddingWithMargin($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

body {
    font-family: sans-serif;
}
.container{
    @include paddingWithMargin(10px, 8px);
    @include borderMaker(black, 3px);
    border-radius: 7px;
}
.theme1-container {
    @include paddingWithMargin(10px, 8px);
    @include borderMaker($theme1-accent-color, 3px);
    color: $theme1-text-color;
    background-color: $theme1-background-color;
    a{
        color: $theme1-text-color;
    }
    a:hover{
        color: $theme1-highlight-color;
    }
    a:visited{
        color: $theme1-visited-color;
    }
    // padding: 10px;
    // margin: 8px;
    // border: 3px solid $theme1-accent-color;
    border-radius: 7px;
}
.theme2-container {
    @include paddingWithMargin(10px, 8px);
    @include borderMaker($theme2-accent-color, 3px);
    color: $theme2-text-color;
    background-color: $theme2-background-color;
    a{
        color: $theme2-text-color;
    }
    a:hover{
        color: $theme2-highlight-color;
    }
    a:visited{
        color: $theme2-visited-color;
    }
    // padding: 10px;
    // margin: 8px;
    // border: 3px solid $theme1-accent-color;
    border-radius: 7px;
}
.theme3-container {
    @include paddingWithMargin(10px, 8px);
    @include borderMaker($theme3-accent-color, 3px);
    color: $theme3-text-color;
    background-color: $theme3-background-color;
    a{
        color: $theme3-text-color;
    }
    a:hover{
        color: $theme3-highlight-color;
    }
    a:visited{
        color: $theme3-visited-color;
    }
    // padding: 10px;
    // margin: 8px;
    // border: 3px solid $theme1-accent-color;
    border-radius: 7px;
}

code{
    font-family: monospace;
    text-align: left;
}

i{
    @include paddingWithMargin(10px, 2px);
    // padding: 10px;
    // margin: 2px;
    border-radius: 3px;
}

.table {
    font-size: 1.5rem;
    text-align: left;
    width: 90%;

    caption {
        font-size: 2.5rem;
        text-align: left;
        padding-bottom: 5px;
    }

    >thead,
    >tbody,
    >tfoot {
        >tr {

            >th,
            >td {
                padding: 10px;
            }
        }
    }
}
#mainNavigation{
    display: flex;
    flex: auto;
    flex-direction: row;
}